html{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f5d7f2;
}

section {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 84px;
}
.hero{
    margin-top: 84px;
    display:flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(68, 97, 131);
    color: white;
    height:fit-content;
    border-radius: 32px;

}
.nombre{
    margin-left: 0px;
    font-size: 60px;
    line-height: 50%;
}
.profesion{
    margin-left: 0px;
    font-size: 30px;
    line-height: 50%;
}
.bio{
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    text-align: center;
}

.enlace-proyecto{
    text-decoration: none;
    color: black;
}
.enlace-proyecto:hover{
    color:#322d33;
}
.proyecto{
    color:rgb(91, 121, 155);
    text-decoration: underline;
    text-decoration-color: rgb(83, 119, 161);
    padding:16px;
    background-color: rgb(236,236,236);
    border-radius: 16px;
    margin-bottom: 16px;
}
.proyecto:hover{
    color:#322d33;
    text-decoration: underline;
    text-decoration-color: #322d33;
    background-color: rgb(218, 215, 215);
}

.experiencia{
    padding: 16px;
    border-radius: 30px;
    background-color: #917395;
    margin-bottom: 16px;
    line-height: 12px;
    border: 2px solid;
    border-color: #37143b;
}
.exp-nombre{
    font-size:larger;
    font-weight: bold;
    color: #37143b;
}
.exp-descripcion{
    font-size: small;
    font-weight: 100;
    color:#faf9fa;
}
.exp-fecha{
    font-size: small;
    font-weight: 100;
    color:#faf9fa;
}
.envoltura-experiencia{
    display: contents;
    flex-wrap:wrap ;
    gap: 8px;
}
.habilidad{
    padding: 16px;
    border-radius: 30px;
    background-color: #917395;
    margin-bottom: 16px;
    margin-left: 0px;
    color:#ffffff;
}
.habilidad p{
    width:fit-content;
    margin: 0px;
}
.envoltura-habilidades{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}