---
import Github
---
</footer>
<nav>
    <ul>
        <li>
            <a href="brand-instagram">
            </a></li>
    </ul>
</nav>

<style>
    footer {
        width: fit-content;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav{
        padding: 16px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
    }
</style>